<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs506.accountable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Setup_0_Activity"
            android:label="@string/title_activity_setup_0_"
            android:parentActivityName=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.WelcomeActivity" />
        </activity>
        <activity
            android:name=".Setup_1_Activity"
            android:label="@string/title_activity_setup_1_"
            android:parentActivityName=".Setup_0_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Setup_0_Activity" />
        </activity>
        <activity
            android:name=".Setup_2_Activity"
            android:label="@string/title_activity_setup_2_"
            android:parentActivityName=".Setup_1_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Setup_1_Activity" />
        </activity>
        <activity
            android:name=".Setup_3_Activity"
            android:label="@string/title_activity_setup_3_"
            android:parentActivityName=".Setup_2_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Setup_2_Activity" />
        </activity>
        <activity
            android:name=".Setup_4_Activity"
            android:label="@string/title_activity_setup_4_"
            android:parentActivityName=".Setup_3_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Setup_3_Activity" />
        </activity>
        <activity
            android:name=".Setup_6_Activity"
            android:label="@string/title_activity_setup_6_"
            android:parentActivityName=".Setup_4_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Setup_4_Activity" />
        </activity>
        <activity
            android:name=".Setup_7_Activity"
            android:label="@string/title_activity_setup_7_"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Setup_6_Activity" />
        </activity>
        <activity
            android:name=".Main_Activity"
            android:label="@string/title_activity_main_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Purchase_0_Activity"
            android:label="@string/title_activity_purchase_0_"
            android:parentActivityName=".Main_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Main_Activity" />
        </activity>
        <activity
            android:name=".Lock_Screen_Activity"
            android:label="Accountable"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Status_0_Activity"
            android:label="@string/title_activity_status_0_"
            android:parentActivityName=".Main_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Main_Activity" />
        </activity>
        <activity
            android:name=".Update_0_Activity"
            android:label="@string/title_activity_update_0_"
            android:parentActivityName=".Main_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Main_Activity" />
        </activity>
        <activity
            android:name=".Update_1_Activity"
            android:label="@string/title_activity_update_1_"
            android:parentActivityName=".Update_0_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Update_0_Activity" />
        </activity>
        <activity
            android:name=".Update_2_Activity"
            android:label="@string/title_activity_update_2_"
            android:parentActivityName=".Update_0_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Update_0_Activity" />
        </activity>
        <activity
            android:name=".Update_3_Activity"
            android:label="@string/title_activity_update_3_"
            android:parentActivityName=".Update_0_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Update_0_Activity" />
        </activity>
        <activity
            android:name=".Update_4_Activity"
            android:label="@string/title_activity_update_4_"
            android:parentActivityName=".Update_0_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Update_0_Activity" />
        </activity>
        <activity
            android:name=".Status_6_Activity"
            android:label="@string/title_activity_status_6_"
            android:parentActivityName=".Status_0_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Status_0_Activity" />
        </activity>
        <activity
            android:name=".About_Activity"
            android:label="@string/title_activity_about_"
            android:parentActivityName=".Main_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs506.accountable.Main_Activity" />
        </activity>
    </application>

</manifest>